# Robot Framework dependencies
robotframework
robotframework-seleniumlibrary
robotframework-pythonpath

# Selenium WebDriver
selenium

# WebDriver managers
webdriver-manager

# Browser drivers
chromedriver-autoinstaller
geckodriver-autoinstaller

# Additional utilities
robotframework-faker
robotframework-requests
robotframework-jsonlibrary
robotframework-databaselibrary
robotframework-robocop

# Data-driven testing
pandas
openpyxl
